@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Sawarabi+Mincho&family=Lora&display=swap');

@font-face {
    font-family: 'harenosora';
    src: url('/fonts/Harenosora.otf') format('opentype');
}

@mixin pc {
    @media screen and (min-width: 600px) {
        @content
    }
}

@mixin sp {
    @media screen and (max-width: 600px) {
        @content
    }
}

body {
    margin: 0;
    font-family: 'Lora', 'harenosora', 'Sawarabi Mincho', 'Noto Serif JP', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background: #111;
    color: #fff;
    padding: 32px 0;
    .noren {
        background-image: url('/noren.png');
        background-repeat: repeat-x;
        background-size: auto 100px;
        background-position: center;
        margin-bottom: 48px;
        width: 100%;
        height: 100px;
    }
    .inner {
        margin: 0 auto;
        max-width: 720px;
        position: relative;
        display: grid;
        /*grid-template-columns: 1fr auto;*/
        grid-gap: 24px;
        padding: 0 16px;
        #logo {
            display: block;
            width: 100%;
            max-width: 480px;
            margin: 0 auto 32px;
        }
        #chochin-logo{
            display: block;
            position: absolute;
            top: -32px;
            left: 8px;
            width: 64px;
            height: auto;
        }
        nav{
            writing-mode: vertical-rl;
            display: grid;
            height: 100px;
            grid-gap: 8px;
            position: absolute;
            right: 8px;
            .item {
                color: #111;
                background: #fff;
                text-align: center;
                font-size: 0.8rem;
                border: 2px solid #111;
                div {
                    border: 1px solid #111;
                    padding: 2px;
                    margin: 2px;
                }
            }
        }
    }
}

main {
    margin: 0 auto 64px;
    max-width: 720px;
    padding: 0 24px;
    .page-title{
        text-align: center;
        margin-bottom: 48px;
        @include pc {
            margin-top: 64px;
        }
        @include sp {
            margin-top: 80px;
        }
    }
    .section-title{
        text-align: center;
        margin-bottom: 32px;
    }
    .welcome {
        padding: 0 0 32px;
        text-align: center;
    }
    .thumbnail {
        display: block;
        position: relative;
        &::before {
            content: '';
            display: block;
            padding-top: 70.7%;
        }
    }
    .blog-horizontal-list {
        display: block;
        .title {
            margin: 0 0 8px;
            font-size: 1.0rem;
        }
        .date {
            font-size: 0.8rem;
        }
    }
    nav{
        display: flex;
        justify-content: space-around;
        .navigation-list-item {
            .title{
                margin-bottom: 8px;
                font-weight: bold;
            }
            .en {
                font-size: 0.8rem;
                text-align: center;
            }
        }
    }
    .blog-list,
    .work-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-gap: 24px;
        &-item {
            display: grid;
            grid-gap: 16px;
            .details {
                display: grid;
                grid-gap: 8px;
                .date {
                    font-size: 0.7rem;
                }
                .title {
                    margin: 0;
                    font-size: 1.1rem;
                }
            }
        }
        
    }
    section {
        padding: 32px 0;
        &#about{
            display: grid;
            grid-gap: 32px;
            max-width: 600px;
            margin: 0 auto 48px;
            img {
                width: 160px;
                margin: 0 auto;
                display: block;
            }
            .sns {
                a {
                    text-decoration: underline;
                }
            }
            @include pc{
                grid-template-columns: 160px 1fr;
            }
            @include sp{
                grid-template-columns: 1fr;
            }
        }
        &#blog{
            .content {
                display: grid;
                @include pc{
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: auto auto auto;
                    grid-auto-flow: column;
                }
            }
        }
    }
    article {
        padding: 96px 0;
        .hero {
            display: block;
            position: relative;
            overflow: hidden;
            &::before {
                content: '';
                display: block;
                padding-top: 63.5%;
            }
        }
        .detail {
            padding: 24px 0;
            .date {
                font-size: 0.9rem;
            }
        }
    }
}

footer {
    padding: 64px 0 32px;
    text-align: center;
    font-size: 0.8rem;
}

